@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@theme {
  --font-sans: var(--font-hind-siliguri);

  --color-bazar-bg: #f0f5f0;
  --color-bazar-surface: #fafcfa;

  --color-bazar-primary: #05893e;
  --color-bazar-primary-hover: #047f39;

  --color-bazar-text: #1d271f;
  --color-bazar-light: #f0f5f0;
  --color-bazar-muted: #6f776f;

  --color-bazar-soft: #edf8f0;
  --color-bazar-border: #e1e8e1;

  --color-bazar-success: #1a9951;
  --color-bazar-danger: #d03739;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-bazar-bg);
  color: var(--color-bazar-text);
  font-family: var(--font-hind-siliguri), sans-serif;
}
